﻿@{
    ViewBag.Title = "Product Page";
    ViewBag.PageTitle = "Work of Leaders (Everything DiSC)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid ml-container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h2>The Work of Leaders Made Simple: Vision, Alignment, and Execution</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="ml-wysiwyg">
                <p>
                    Everything DiSC Work of Leaders® is classroom training that uses online pre-work, engaging facilitation
                    with contemporary video, and online follow-up to create a personalized learning experience. Based on best
                    practices, Work of Leaders connects to real-world demands, generating powerful conversations that provide
                    a clear path for action.
                </p>
                <p>
                    Using the framework of Vision, Alignment, and Execution, Work of Leaders encourages leaders to understand
                    their own leadership behaviors and how they impact their effectiveness. Rich, compelling narrative adds depth
                    to the data and strong visuals support the learning process by illustrating key messages.
                </p>
                <p>
                    <b>More about Work of Leaders</b><br />
                    Everything DiSC Work of Leaders approaches leadership as a one-to-many relationship, as opposed to the
                    one-to-one relationship of management. It focuses on tangible steps directed at leading a group or
                    organization toward desired outcomes.
                </p>
                <p>
                    Consistently thought-provoking, Work of Leaders stimulates fresh conversations and perspectives regardless
                    of the leader’s knowledge or experience. It’s an opportunity for leaders at all levels of learning to reflect
                    on how they approach each step of their work. In addition, Work of Leaders encourages reflection and discussion
                    about the team and the organization. Work of Leaders helps leaders take action with personalized tips and
                    strategies that give clear direction and are easy to apply. Context-specific feedback and developmental steps
                    along with helpful case-in-point narratives show how progress can play out in real life.
                </p>
                <br />
                <p><b>Research-Based</b></p>
                <ul>
                    <li>Result of four-year development effort</li>
                    <li>Analyzed and distilled the work of prominent leadership researchers</li>
                    <li>Input from more than 300 subject matter experts at over 150 organizations</li>
                    <li>Identified leadership best practices</li>
                </ul>
                <br />
                <p><b>Profile</b></p>
                <ul>
                    <li>23-page highly personalized report</li>
                    <li>18 behavioral continua</li>
                    <li>Strong visuals illustrate key messages</li>
                    <li>Context-specific feedback</li>
                    <li>Tips and strategies for improving leadership effectiveness</li>
                    <li>Easily Customizable</li>
                    <li>
                        Online tailoring options make it easy to remove or rearrange pages, customize the profile title, or
                        print selected sections. The profile may be used on its own or with the companion facilitation; sold separately.
                    </li>
                    <li>Follow-Up Activities</li>
                    <li>
                        Everything DiSC Comparison Reports are follow-up reports that can be created for any two participants to illustrate
                        their similarities and differences. The research-validated   11- page Everything DiSC Comparison Reporthelps to build
                        better relationships and   makes training stick. And participants get unlimited access - at no additional charge.
                    </li>
                    <li>Works for all Everything DiSC programs.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Purchase Everything DiSC Work of Leaders<sup>&reg;</sup> Profile</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li class="spaced"><a href="#"><i class="mpi">&#218;</i> Order 25 - $37.50</a></li>
                        <li class="spaced"><a href="#"><i class="mpi">&#218;</i> Order 100 - $90.00</a></li>
                        <li class="spaced"><a href="#"><i class="mpi">&#218;</i> Order The Work of Leaders Book</a></li>
                        <li class="spaced"><a href="#"><i class="mpi">&#218;</i> Order The 8 Dimensions of Leadership Book</a></li>
                        <li class="spaced"><a href="#"><i class="mpi">&#218;</i> Order Bookmarks</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Everything DiSC Work of Leaders<sup>&reg;</sup> Profile Resources</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li class="spaced"><a href="#"><i class="mpi">&#218;</i> Documents</a></li>
                        <li class="spaced"><a href="#"><i class="mpi">&#218;</i> Case Studies</a></li>
                        <li class="spaced"><a href="#"><i class="mpi">&#218;</i> Sample Reports</a></li>
                        <li class="spaced"><a href="#"><i class="mpi">&#218;</i> Logos &amp; Images</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>