﻿@{
    ViewBag.Title = "Home Page";
    ViewBag.PageTitle = "Hello Lauren - <span>how can we build better workplaces together?</span>";
}

<div class="container-fluid ml-container-fluid">
    <div class="row">
        <div class="col-md-6">

            <div>
                <h2>Getting Started</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet molotribus.</p>
                    </div>
                </div>
                <small><b>Your Progress:</b></small>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span>50% Complete</span>
                    </div>
                </div>
                <p><a href="#"><i class="mpi">&#218;</i> Start Your Next Step</a></p>
            </div>

            <div>
                <h2>Certification</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet molotribus.</p>
                        <p><a href="#"><i class="mpi">&#218;</i> Learn More</a></p>
                    </div>
                </div>
            </div>

            <div>
                <h2>LinkedIn Discussions</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                    </div>
                    <div class="media-body">
                        <span><a href="#">Does anyone have any suggestions for DiSC profile reveals in a group setting?</a></span>
                        <p>Lorem ipsum set dolor amet lorem ipsum set dolor amet lorem...</p>
                        <p><small class="text-info">POSTED 1 DAY AGO</small></p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                    </div>
                    <div class="media-body">
                        <span><a href="#">What works for me: promoting Everything DiSC behavior assessments to IT teams.</a></span>
                        <p>Lorem ipsum set dolor amet lorem ipsum set dolor amet lorem. Mus minusan debiti re porrorem reiusam rae erem sa, autem...</p>
                        <p><small class="text-info">POSTED 3 DAYS AGO</small></p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                    </div>
                    <div class="media-body">
                        <span><a href="#">Why a Train-the-Trainer approach makes sense.</a></span>
                        <p>Lorem ipsum set dolor amet lorem ipsum set dolor amet lorem...</p>
                        <p><small class="text-info">POSTED 4 DAYS AGO</small></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div>
                <h2>Brands</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Everything DiSC<sup>&reg;</sup> Work of Leaders Profile</h5>
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="mpi">&#218;</i> More Information</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Purchase New Materials</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Customize Documents</a></li>
                        </ul>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">The Five Behaviors of a Cohesive Team<sup>&reg;</sup></h5>
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="mpi">&#218;</i> More Information</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Purchase New Materials</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Customize Documents</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <h2>Beta Testing</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">[Product Name]</h5>
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="mpi">&#218;</i> More Information</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>