﻿.ml-footer {
    background: $brand-info;
    color: $gray-dark;
    padding: 30px 0 0;

    ul {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    a {
        color: $gray-dark;
    }
}

.ml-footer-bottom {
    background: #3a4047;
    color: #FFF;
    margin: 30px 0 0;
    padding: 30px 0;

    .col-md-5 {
        text-align: right;
    }
}