﻿
@{
    ViewBag.Title = "Landing Page";
    ViewBag.PageTitle = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid ml-container-fluid">
    <div class="row">
        <div class="col-md-6">

            <div>
                <h2>Work of Leaders</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="mpi">&#218;</i> Reorder Tests</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Personalize Documents</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <h2>Work of Leaders</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="mpi">&#218;</i> Reorder Tests</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Personalize Documents</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <h2>Work of Leaders</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="mpi">&#218;</i> Reorder Tests</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Personalize Documents</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div>
                <h2>363 for Leaders</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="mpi">&#218;</i> Reorder Tests</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Personalize Documents</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <h2>363 for Leaders</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="mpi">&#218;</i> Reorder Tests</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Personalize Documents</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <h2>Five Behaviors of a Cohesive Team</h2>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/50x50" alt="...">
                    </div>
                    <div class="media-body">
                        <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="mpi">&#218;</i> Reorder Tests</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Personalize Documents</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
