﻿@{
    ViewBag.Title = "Marketing Page";
    ViewBag.PageTitle = "Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid ml-container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled list-inline breadcrumb-container">
                <li>Filter by</li>
                <li>
                    <ol class="breadcrumb">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Case Studies</a></li>
                        <li><a href="#">Sample Reports</a></li>
                        <li><a href="#">Logos &amp; Images</a></li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Subhead</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-toggle="modal" data-target="#video-modal" href="#"><img src="http://placehold.it/440x250" alt="" /></a>
            <br />
            <br />
            <p><b>Video Title</b></p>
            <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
            <ul class="list-unstyled">
                <li><a href="#"><i class="mpi">&#218;</i> Reorder Tests</a></li>
                <li><a href="#"><i class="mpi">&#218;</i> Personalize Documents</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Upcoming Events</div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">Event Name</a></h5>
                            <p>Mus minusan debiti re por rorem reiusam rae erem sa, au tem dolliquides delis sunt ut enimet moloribus.</p>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="mpi">&#218;</i> Learn More</a></li>
                                <li><a href="#"><i class="mpi">&#218;</i> Register for this event</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">Event Name</a></h5>
                            <p>Mus minusan debiti re por rorem reiusam rae erem sa, au tem dolliquides delis sunt ut enimet moloribus.</p>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="mpi">&#218;</i> Learn More</a></li>
                                <li><a href="#"><i class="mpi">&#218;</i> Register for this event</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start "General Tools" -->
    <div class="row">
        <div class="col-md-12">
            <h2>General Tools</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Video Title</a> <small>Video</small></h5>
                    <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mpi">&#218;</i> Watch Video</a></li>
                    </ul>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Document Title</a> <small>PDF</small></h5>
                    <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mpi">&#218;</i> Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Document Title</a> <small>PDF</small></h5>
                    <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mpi">&#218;</i> Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End "General Tools" -->
    <!-- Start "Case Studies" -->
    <div class="row">
        <div class="col-md-12">
            <h2>Case Studies</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Case Study Title</a> <small>PDF</small></h5>
                    <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mpi">&#218;</i> Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Presentation Title</a> <small>PPT</small></h5>
                    <p>Mus minusan debiti re porrorem reiusam rae erem sa, autem dolliquides delis sunt ut enimet moloribus.</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mpi">&#218;</i> Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End "Case Studies" -->
    <!-- Start "Logos & Images" -->
    <div class="row">
        <div class="col-md-12">
            <h2>Logos &amp; Images</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Image 1</a> <small>JPG</small></h5>
                    <p>Mus minusan debiti re porrorem reiusam.</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mpi">&#218;</i> Download</a></li>
                    </ul>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Image 3</a> <small>JPG</small></h5>
                    <p>Mus minusan debiti re porrorem reiusam.</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mpi">&#218;</i> Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Image 2</a> <small>PNG</small></h5>
                    <p>Mus minusan debiti re porrorem reiusam.</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mpi">&#218;</i> Download</a></li>
                    </ul>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="http://www.gravatar.com/avatar/?s=50&d=mm" alt="...">
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Image 4</a> <small>PNG</small></h5>
                    <p>Mus minusan debiti re porrorem reiusam.</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mpi">&#218;</i> Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End "Logos & Images" -->
</div>
