﻿.ml-banner {
    background: url(/Content/images/banner-bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    position: relative;

    .ml-banner-menu {
        pointer-events: none;

        &.dialog--open {
            pointer-events: auto;
        }

        .ml-banner-menu-inner {
            background: rgba($gray-darker, 0.97);
            padding: 20px 0 0 0;
            position: relative;
            opacity: 0;
            z-index: 3;
        }

        ul {
            li {
                -webkit-break-inside: avoid-column;
                break-inside: avoid-column;
                -webkit-column-break-inside: avoid;
                padding: 0 0 10px 20px;
            }
        }

        a {
            color: #FFF;
            font-size: $font-size-h3;
            font-weight: 300;
            text-decoration: none;

            .mpi {
                color: $brand-info;
            }
        }

        h3 {
            color: inherit;
        }
    }
    // Banner Title
    .ml-banner-title {
        h1 {
            font-weight: 700;
            margin: 0;
            padding: 25px 0;
            position: relative;
            z-index: 2;

            span {
                font-weight: 400;
            }
        }
    }
    // Banner Announcements
    .ml-banner-announcements {
        background: rgba($brand-primary, 0.9);
        color: $gray-darker;
        padding: 20px 0;

        a {
            color: #FFF;
            font-weight: 700;
        }

        .media-object {
            text-decoration: none;

            .ml-date {
                border: 2px solid #FFF;
                border-radius: 3px;
                font-weight: 400;
                max-width: 50px;
                text-align: center;
                text-transform: uppercase;
                width: 50px;
                padding: 5px 0 2px 0;

                .ml-month {
                    font-size: floor(($font-size-base * 0.85));
                }

                .ml-year {
                    font-size: ceil(($font-size-base * 1.43));
                    font-weight: 700;
                    margin: -10px 0 0 0;
                }
            }
        }

        .media-heading {
            color: $gray-darker;
        }

        h4 {
            color: $gray-darker;
            font-weight: 400;
            margin: 0 0 20px 0;

            small {
                margin: 0 0 0 5px;
                font-size: $font-size-base;
            }
        }
    }
    // Banner - Home Page
    &.ml-banner-home {
        .ml-banner-title {
            background: rgba(255,255,255,0.9);
        }
    }
    // Banner - Inner Page
    &.ml-banner-subpage {
        &:after {
            background: rgba(255,255,255,0.8);
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }
}

@media(min-width:$screen-sm) { 
    .ml-banner {
        .ml-banner-menu {
            ul {
                -moz-column-count: 3;
                -webkit-column-count: 3;
                column-count: 3;
            }

            .ml-banner-menu-inner {
                padding: 50px 0 11px 0;
            }
        }
    }
}