﻿.ml-sidenav {
    margin: 20px 0;

    > li {
        padding: 5px 0;

        > a {
            padding: 0;

            &:hover {
                background: none;
            }

            &:focus {
                background: none;
            }
        }
    }
}