﻿.ml-navbar {
    .navbar-brand img {
        padding: 3px 0;
    }

    .navbar-text {
        margin-right: 0;
        margin-left: 0;
    }

    .ml-menu-button {
        color: $brand-info !important;
        position: relative;
        margin: 0 10px 0 0;

        &.ml-menu-button-active {
            .mpi {
                -moz-transform: scale(1, -1);
                -webkit-transform: scale(1, -1);
                -o-transform: scale(1, -1);
                -ms-transform: scale(1, -1);
                transform: scale(1, -1);
                top: -1px;
            }
        }

        &:before {
            content: '';
            background: $gray-darker;
            border-radius: 3px;
            position: absolute;
            top: 10px;
            right: 5px;
            bottom: 10px;
            left: 5px;
            z-index: -1;
        }

        &.navbar-toggle {
            border: none;
            border-radius: 0;
            float: none;
            position: absolute;
            top: 0;
            right: -10px;
            bottom: -1px;
            padding-left: 20px;
            padding-right: 20px;

            &:hover,
            &:focus {
                background: none;
            }

            &:before {
                border-radius: 0;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

        &:hover {
            color: darken($brand-info, 15%) !important;
        }
    }

    .mpi {
        display: inline-block;
        font-size: 20px;
        position: relative;
        vertical-align: middle;

        -moz-transition: ease all 200ms;
        -webkit-transition: ease all 200ms;
        -o-transition: ease all 200ms;
        -ms-transition: ease all 200ms;
        transition: ease all 200ms;
    }
}
