﻿.modal {
    .modal-header {
        .close {
            margin-top: -3px;
            font-size: 34px;
            font-weight: normal;
        }
    }

    .modal-content {
        border: none;
        border-radius: 3px;
        box-shadow: none;
        overflow: hidden;
    }

    .embed-responsive {
        margin: -15px;
    }
}
