﻿.panel {
    border-radius: 3px;
    border-width: 2px;

    &.panel-dismissable {
        background: #e1e6e6;

        .panel-body {
            padding: 10px 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: none;

            .close {
                color: $brand-primary;
                opacity: 1;
                filter: alpha(opacity=100);
            }
        }
    }

    .panel-heading {
        border: none;
        color: $gray;
        font-size: ceil(($font-size-base * 1.25));
        font-weight: 700;
        line-height: floor(($font-size-base * 1.43));
    }

    .panel-body-no-heading {
        padding: 15px 20px;
    }

    ul {
        margin: 0;

        .spaced {
            margin: 10px 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }
}