﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindLab Connect - @ViewBag.Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @Styles.Render("~/bundles/css")
    <!-- styles.css removed from bundling due to @@import and bootstrap errors -->
    @Styles.Render("~/Content/css/styles.css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        body {
            background: #2b3137;
        }

        a {
            text-decoration: none !important;
        }

        h1,h2,h3,h4,h5,h6 {
            color: #7c868d;
        }

        .navbar {
            background: #2b3137;
            border-color: #3d414d;
        }
    </style>
</head>
<body>
    <div class="main">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
