﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindLab Connect - @ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <!-- styles.css removed from bundling due to @@import and bootstrap errors -->
    @Styles.Render("~/Content/css/styles.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("Header")
    <div class="main">
        @Html.Partial("Banner")
        @RenderBody()
    </div>
    @Html.Partial("Footer")
    @Html.Partial("Modals")
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
