﻿@{
    var bannerClass = Request.RawUrl == "/home" ? "ml-banner-home" : "ml-banner-subpage";
}

<div id="ml-banner" class="ml-banner @bannerClass" data-type="background" data-speed="10">
    <div id="ml-banner-menu" class="ml-banner-menu dialog">
        <div class="ml-banner-menu-inner dialog__content">
            <div class="container-fluid ml-container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li class="visible-xs"><a href="#"><i class="mpi">&#218;</i> My Partnership</a></li>
                            <li class="visible-xs"><a href="#"><i class="mpi">&#218;</i> EPIC</a></li>
                            <li class="visible-xs"><a href="#"><i class="mpi">&#218;</i> MindLab48</a></li>
                            <li class="visible-xs"><a href="#"><i class="mpi">&#218;</i> Purchase</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Getting Started</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Products</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Certification</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Beta Testing</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> All About EPIC</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Marketing</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Discussions</a></li>
                            <li><a href="#"><i class="mpi">&#218;</i> Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ml-banner-content">
        <div class="ml-banner-title">
            <div class="container-fluid ml-container-fluid">
                <h1>@Html.Raw(ViewBag.PageTitle)</h1>
            </div>
        </div>

        @if (@Request.RawUrl == "/home")
        {
        <div class="ml-banner-announcements">
            <div class="container-fluid ml-container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Recent Announcements <small><a href="#">See More</a></small></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <a class="media-object" href="#">
                                    <div class="ml-date">
                                        <div class="ml-month">Dec</div>
                                        <div class="ml-year">08</div>
                                    </div>
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Announcement Title</h5>
                                <p>Lorem ipsum set dolor amet lorem ipsum set dolor amet lorem.</p>
                                <p><a href="#">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <a class="media-object" href="#">
                                    <div class="ml-date">
                                        <div class="ml-month">Nov</div>
                                        <div class="ml-year">17</div>
                                    </div>
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Announcement Title</h5>
                                <p>Lorem ipsum set dolor amet lorem ipsum set dolor amet lorem.</p>
                                <p><a href="#">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <a class="media-object" href="#">
                                    <div class="ml-date">
                                        <div class="ml-month">Oct</div>
                                        <div class="ml-year">30</div>
                                    </div>
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Announcement Title</h5>
                                <p>Lorem ipsum set dolor amet lorem ipsum set dolor amet lorem.</p>
                                <p><a href="#">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>