﻿<footer class="ml-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p><b>MindLab.Connect</b> lorem ipsum dolor sit amet, consec tetur adipiscing elit. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue.</p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <ul class="list-unstyled">
                    <li><a href="#"><i class="mpi">&#218;</i> Getting Started</a></li>
                    <li><a href="#"><i class="mpi">&#218;</i> Products</a></li>
                    <li><a href="#"><i class="mpi">&#218;</i> Certification</a></li>
                    <li><a href="#"><i class="mpi">&#218;</i> Beta Testing</a></li>
                    <li><a href="#"><i class="mpi">&#218;</i> All About EPIC</a></li>
                    <li><a href="#"><i class="mpi">&#218;</i> Marketing</a></li>
                    <li><a href="#"><i class="mpi">&#218;</i> LinkedIn Discussions</a></li>
                    <li><a href="#"><i class="mpi">&#218;</i> Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ml-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <small>Copyright &copy; 2000-2015 by John Wiley &amp; Sons, Inc., or related companies. All rights reserved.</small>
                </div>
                <div class="col-md-5">
                    <img src="@Url.Content("~/Content/images/wiley-logo.png")" alt="" />
                </div>
            </div>
        </div>
    </div>
</footer>