﻿<div class="navbar navbar-default navbar-fixed-top ml-navbar">
    <div class="container-fluid ml-container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="@Url.Content("~/Content/images/logo@2x.png")" width="217" />
            </a>
            <a class="ml-menu-button trigger navbar-toggle collapsed" data-toggle="collapse" data-dialog="ml-banner-menu" role="button" href="#">
                <span class="sr-only">Toggle navigation</span>
                <i class="mpi">&#8221;</i>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">My Partnership</a></li>
                <li><p class="navbar-text">.</p></li>
                <li><a href="#">EPIC</a></li>
                <li><p class="navbar-text">.</p></li>
                <li><a href="#">MindLab48</a></li>
                <li><p class="navbar-text">.</p></li>
                <li><a href="#">Purchase</a></li>
                <li><a class="ml-menu-button trigger" data-dialog="ml-banner-menu" href="#">Menu <i class="mpi">&#8221;</i></a></li>
            </ul>
        </div>
    </div>
</div>