﻿@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<div class="navbar navbar-fixed-top ml-navbar">
    <div class="container-fluid ml-container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="@Url.Content("~/Content/images/logo@2x.png")" width="217" />
            </a>
        </div>
    </div>
</div>

<div class="container-fluid ml-container-fluid">
    <h1>MindLab Connect Page Templates</h1>
    <ul class="list-unstyled">
        <li><h3><a href="@Url.Action("Index", "Home")">1_Home</a></h3></li>
        <li><h3><a href="@Url.Action("Index", "Landing")">2_Landing</a></h3></li>
        <li><h3><a href="@Url.Action("Index", "Product")">3_Product</a></h3></li>
        <li><h3><a href="@Url.Action("Index", "Marketing")">4_Marketing</a></h3></li>
        <li><h3><a href="@Url.Action("Index", "Account")">5_Account</a></h3></li>
    </ul>
    <br />
    <h1>Getting Started</h1>
    <ul class="list-unstyled">
        <li><h3><a href="#" data-toggle="modal" data-target="#assetsModal">1_Front-End Assets</a></h3></li>
        <li><h3><a href="#" data-toggle="modal" data-target="#sassModal">2_SASS Documentation</a></h3></li>
        <li><h3><a href="#" data-toggle="modal" data-target="#refModal">3_References</a></h3></li>
    </ul>
    <br />
    <h1>Questions?</h1>
    <ul class="list-unstyled">
        <li><h3><a href="mailto:dylanjmcdonald@gmail.com"><i class="fa fa-envelope"></i> Email</a></h3></li>
        <li><h3><a href="https://twitter.com/dylanjmcdonald" target="_blank"><i class="fa fa-twitter"></i> Connect on Twitter</a></h3></li>
        <li><h3><a href="https://www.linkedin.com/profile/view?id=23932035" target="_blank"><i class="fa fa-linkedin"></i> Connect on LinkedIn</a></h3></li>
    </ul>
</div>

@*FRONT-END ASSETS MODAL*@
<div class="modal fade" id="assetsModal" tabindex="-1" role="dialog" aria-labelledby="assetsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="assetsModalLabel">Front-End Assets</h4>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <li><h5>CSS</h5></li>
                    <li><span class="label label-default">Vendor</span> /Content/css/*</li>
                    <li><span class="label label-default">Vendor</span> /Content/fonts/mpix234/stylesheet.css</li>
                    <li><h5>Fonts</h5></li>
                    <li><span class="label label-default">Vendor</span> /Content/fonts/*</li>
                    <li><h5>Images</h5></li>
                    <li><span class="label label-primary">Custom</span> /Content/images/*</li>
                    <li><h5>Javascript</h5></li>
                    <li><span class="label label-default">Vendor</span> /Scripts/jquery-2.1.3.js</li>
                    <li><span class="label label-default">Vendor</span> /Scripts/modernizr-2.6.2.js</li>
                    <li><span class="label label-default">Vendor</span> /Scripts/bootstrap.js</li>
                    <li><span class="label label-default">Vendor</span> /Scripts/respond.js</li>
                    <li><span class="label label-default">Vendor</span> /Scripts/classie.js</li>
                    <li><span class="label label-default">Vendor</span> /Scripts/dialogFx.js</li>
                    <li><span class="label label-primary">Custom</span> /Scripts/main.js</li>
                    <li><h5>SASS</h5></li>
                    <li><span class="label label-warning">Mixture</span> /Content/sass/*</li>
                    <li><h5>Notes</h5></li>
                    <li>All vendor files have not been modified from original source.</li>
                    <li>Feel free to use minified versions or minify through Kentico.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*SASS MODAL*@
<div class="modal fade" id="sassModal" tabindex="-1" role="dialog" aria-labelledby="sassModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="sassModalLabel">SASS Documentation</h4>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <li><h5>Files</h5></li>
                    <li><span class="label label-default">Vendor</span> /Content/sass/bootstrap/*</li>
                    <li><span class="label label-primary">Custom</span> /Content/sass/components/*</li>
                    <li><span class="label label-primary">Custom</span> /Content/sass/layout/*</li>
                    <li><span class="label label-primary">Custom</span> /Content/sass/pages/*</li>
                    <li><span class="label label-primary">Custom</span> /Content/sass/_base.scss</li>
                    <li><span class="label label-default">Vendor</span> /Content/sass/_bootstrap-compass.scss</li>
                    <li><span class="label label-default">Vendor</span> /Content/sass/_bootstrap-mincer.scss</li>
                    <li><span class="label label-default">Vendor</span> /Content/sass/_bootstrap-sprockets.scss</li>
                    <li><span class="label label-default">Vendor</span> /Content/sass/_bootstrap.scss</li>
                    <li><span class="label label-primary">Custom</span> /Content/sass/_variables.scss</li>
                    <li><span class="label label-primary">Custom</span> /Content/sass/styles.scss</li>
                    <li><h5>Questions</h5></li>
                    <li>
                        <p>
                            <b>Q: Where are my CSS files to use on the site?</b>
                            <br /><b>A:</b> All generated files are not included
                            into the repository. In order to generate the CSS files
                            that you will use for the site, simply use the following
                            command from the sites root directory:<br /><br />
                            <code>sass --watch MindLabConnect/Content/sass:MindLabConnect/Content/css</code>
                            <br /><br />The CSS files will then be generated and 
                            available in the /Content/css directory.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Q: I need to customize a bootstrap component. How do I do that?</b>
                            <br /><b>A:</b> Copy the bootstrap .scss file into the components
                            sass directory and only include/overwrite necessary modifications.
                            Include the new .scss component file in the /Content/sass/styles.scss
                            file.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*REFERENCES MODAL*@
<div class="modal fade" id="refModal" tabindex="-1" role="dialog" aria-labelledby="refModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="refModalLabel">References</h4>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                    <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
                    <li><a href="https://github.com/scottjehl/Respond" target="_blank">Respond</a></li>
                    <li><a href="http://sass-lang.com/" target="_blank">SASS</a></li>
                    <li><a href="https://rubygems.org/gems/sass" target="_blank">SASS Gem</a> <i class="text-muted">(Requires Ruby)</i></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>