﻿@{
    ViewBag.Title = "My Account Page";
    ViewBag.PageTitle = "My Partnership - My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid ml-container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-stacked ml-sidenav">
                <li><a href="#"><i class="mpi">&#218;</i> My Account</a></li>
                <li><a href="#"><i class="mpi">&#218;</i> Business Profile</a></li>
                <li><a href="#"><i class="mpi">&#218;</i> Purchase History</a></li>
                <li><a href="#"><i class="mpi">&#218;</i> Authorized Purchasers</a></li>
                <li><a href="#"><i class="mpi">&#218;</i> Personalize Documents on Mimeo</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <h2>Account Info</h2>
            <div class="panel panel-default">
                <div class="panel-body panel-body-no-heading">
                    <i>
                        <b>Note:</b> Unless otherwise noted, all fields are required.
                        These fields apply only to your Inscape Publishing account
                        and do not affect your EPIC account.
                    </i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Name</label>
                        <p>Jeremy Smith</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Company</label>
                        <p>Jeremy Smith &amp; Sons, Inc.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Distributor ID</label>
                        <p>7652227</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>User ID</label>
                        <p>jsmith1</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="businessPhoneTextInput">Business Phone</label>
                        <input type="text" id="businessPhoneTextInput"
                               class="form-control" value="(414) 555-5555">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="businessPhoneExtTextInput">Ext</label>
                        <input type="text" id="businessPhoneExtTextInput"
                               class="form-control" value="345">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="homePhoneTextInput">Home Phone (Optional)</label>
                        <input type="text" id="homePhoneTextInput"
                               class="form-control" value="(414) 555-5555">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cellPhoneTextInput">Cell Phone (Optional)</label>
                        <input type="text" id="cellPhoneTextInput"
                               class="form-control" value="(414) 555-5555">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="faxNumberTextInput">Fax Number (Optional)</label>
                        <input type="text" id="faxNumberTextInput"
                               class="form-control" value="(414) 555-5555">
                    </div>
                </div>
            </div>
            <hr />
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    I have a website which I use
                    to promote/sell Inscape products.
                </label>
            </div>
            <div class="panel panel-default">
                <div class="panel-body panel-body-no-heading">
                    <i>
                        I understand that if I develop any website in the future,
                        I must register my website with Inscape Publishing
                        immediately, and must follow the Website Standards set
                        forth in the Inscape Publishing Distributor Handbook.
                    </i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="websiteUrlTextInput">Website URL</label>
                        <div class="form-inline">
                            <input type="text" id="websiteUrlTextInput" class="form-control"
                                   placeholder="http://www.yoursite.com/" style="min-width: 220px;">
                            <button type="button" class="btn btn-link">Add URL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-dismissable">
                        <div class="panel-body">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <span>https://www.discprofile.com/</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-dismissable">
                        <div class="panel-body">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <span>https://www.talentgear.com/</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <h4>Addresses</h4>
            <div class="row">
                <div class="col-md-3">
                    <p>Mailing Address</p>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="countrySelect">Country</label>
                        <select class="form-control" id="countrySelect">
                            <option>Canada</option>
                            <option selected>United States</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <div class="form-group">
                        <label for="addressTextInput" tabindex="1">Address</label>
                        <input type="text" id="addressTextInput" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="steTextInput">Apt, Suite, Bldg. (Optional)</label>
                        <input type="text" id="steTextInput" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <div class="form-group">
                        <label for="cityTextInput">City</label>
                        <input type="text" id="cityTextInput" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="stateTextInput">State</label>
                        <input type="text" id="stateTextInput" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="zipTextInput">ZIP</label>
                        <input type="text" id="zipTextInput" class="form-control">
                    </div>
                </div>
            </div>
            @*Follow same format for Shipping/Billing Address*@
            <hr />
            <div class="pull-right">
                <div class="form-inline">
                    <div class="form-group">
                        <button type="button" class="btn btn-link">Cancel</button>
                        <button type="submit" class="btn btn-default" style="min-width: 100px;">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
