@font-face {
    font-family: 'modern_pictograms_proregular';
    src: url('/Content/fonts/mpix234/modernpictogramspro_234.eot');
    src: url('/Content/fonts/mpix234/modernpictogramspro_234?#iefix') format('embedded-opentype'),
		url('/Content/fonts/mpix234/modernpictogramspro_234.woff') format('woff'),
		url('/Content/fonts/mpix234/modernpictogramspro_234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}