﻿body {
    padding-top: 51px;
}

a {
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
    color: #19B349;
    text-decoration: none;
}

.mpi {
    font-style: normal;
    font-family: 'modern_pictograms_proregular';
}

.media-heading {
    font-weight: 700;
}
